{% extends "master.twig.html" %}

{% block content %}

    <div class="title">February 2017</div>

    <table>
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="date">&nbsp;</span></td>
                <td><span class="date">&nbsp;</span></td>
                <td><span class="date">&nbsp;</span></td>
                <td><span class="date">1</span></td>
                <td><span class="date">2</span></td>
                <td><span class="date">3</span></td>
                <td><span class="date">4</span></td>
            </tr>
        <tbody>
    </table>

{% endblock %}
